a {
    color: #ffffff; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
a:visited {
    color: #ffffff; /* Цвет посещённой ссылки */
}
a:hover {
    color: #000000; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: none; /* Добавляем подчеркивание */
}
